altair==4.2.2  # Replace with the version needed, or use a specific version if known
Flask==2.3.2
Flask-SQLAlchemy==2.5.1
Werkzeug==2.3.3
requests==2.31.0
beautifulsoup4==4.11.2
Streamlit==1.17.0
